<div class="footer-container">
  <div class="footer-information-container">
    <div class="subscription-container">
      <input type="text" placeholder="Your e-mail" />
      <button>Subscribe Now!</button>
    </div>
    <div class="footer-menu">
      <div class="partnership-container">
        <h6>Partnership</h6>
        <ul>
          <li>Websites</li>
          <li>Social Media</li>
          <li>Branding</li>
        </ul>
      </div>
      <div class="project-container">
        <h6>Project</h6>
        <ul>
          <li>Download</li>
          <li>Changelog</li>
          <li>All Versions</li>
        </ul>
      </div>
      <div class="about-container">
        <h6>About</h6>
        <ul>
          <li>Our Projects</li>
          <li>Careers</li>
        </ul>
      </div>
      <div class="community-container">
        <h6>Community</h6>
        <ul>
          <li>Blog</li>
          <li>Platform X</li>
          <li>Facebook</li>
        </ul>
      </div>
      <div class="support-container">
        <h6>Support</h6>
        <ul>
          <li>Support Request</li>
          <li>Contact</li>
        </ul>
      </div>
    </div>
    <div class="copyrights-container">
      <p>All rights reserved 2024</p>
      <div class="social-media-icons-container">
        <img
          src="../../assets/icons/facebook.svg"
          alt="facebook"
          width="16"
          height="16" />
        <img
          src="../../assets/icons/linkedin.svg"
          alt="linkedin"
          width="16"
          height="16" />
        <img
          src="../../assets/icons/youtube.svg"
          alt="youtube"
          width="16"
          height="16" />
        <img
          src="../../assets/icons/envelope.svg"
          alt="envelope"
          width="16"
          height="16" />
      </div>
    </div>
  </div>
</div>
