/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  font-family: 'Nunito', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: 'Marcellus', serif;
  color: #114232;
}

body {
  margin: 0;
}
